.page{
  display: flex;
  font-family: "poppins";

}
.pageDivLeft{
  min-width: 50vw;
  padding-left: 50px;
}
.pageDivRight{
  min-width: 50vw;
}
.pageDiv {
  display: grid;
  grid-template-columns: 60% 40%;
  font-size: 24px;
}

.inputDiv > input {
  height: 32px;
  margin-bottom: 18px;
  border: none;
  background-color: #11223E;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "poppins";
  font-size: 20px;
}

.roleInnerDiv > input {
  margin-top: 5px;
  height: 32px;
  margin-bottom: 18px;
  border: none;
  background-color: #11223E;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "poppins";
  font-size: 20px
}
.select{
  margin-top: 5px;
  height: 32px;
  margin-bottom: 18px;
  border: none;
  background-color: #11223E;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "poppins";
  font-size: 20px
  
}
.roleInnerDiv > label {
  margin-bottom: 16px;
}

.labelDiv > label {
  margin-bottom: 16px;
}

.labelDiv,
.inputDiv {
  display: flex;
  flex-direction: column;
}
.inputDiv{
  margin-top: 5px;
  padding-right: 20px;
}

.roleInnerDiv {
  display: grid;
  grid-template-columns: 60% 40%;
  font-size: 24px;
  padding-right: 20px;
}



.roleDiv {
  font-size: 24px;
  font-family: "poppins";
}

.createBtn {
  font-size: 24px;
  font-family: "poppins";
  border-radius: 20px;
  width: 250px;
  height: 60px;
  border: none;
  background-color: #11223E;
  margin-top: 20px;
}

