.teams {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.teams > button {
  border: none;
  background-color: #11223e;
  margin: 10px;
  margin-left: 30px;
  text-align: left;
  padding-left: 20px;
  /* border-radius: 20px; */
  cursor: pointer;
}
.teams > button:hover {
  box-shadow: 0px 0px 20px #001027;
}
.teams > button > div > h1 {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 35px;
}
.teams > button > div > p {
  background-color: #11223e;
  font-size: 25px;
  font-family: "poppins";
}
.teams > button > div > ul {
  background-color: #11223e;
  font-size: 25px;
  font-family: "poppins";
  padding: 0px;
}
.teams > button > div > ul > li {
  background-color: #11223e;
  list-style-type: none;
  font-size: 25px;
  font-family: "poppins";
}
.teams > button > div {
  background-color: #11223e;
}

.pageContent {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
.heading {
  font-size: 45px;
  font-family: "poppins";
  text-align: center;
}
.teamInfo {
  background-color: #11223e;
  margin: 10px;
  padding-left: 30px;
  height: max-content;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0px;
  position: sticky;
  right: 0;
  top: 20px;
}
.teamInfo > div {
  background-color: #11223e;
}
.teamInfo > h1 {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 35px;
  margin-bottom: 0px;
}
.teamInfo > div > p {
  background-color: #11223e;
  margin: 0px;
  font-family: "poppins";
  font-size: 25px;
}
.teamInfo > div > ul {
  background-color: #11223e;
  margin-top: 0px;
  font-family: "poppins";
  font-size: 25px;
}
.teamInfo > div > ul > li {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 25px;
}
.teamInfo > div > div > h2 {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 30px;
}
.teamInfo > div > div > p {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 25px;
}
.teamInfo > div > div {
  background-color: #11223e;
  font-family: "poppins";
  font-size: 25px;
}
.requestButton {
  font-size: 24px;
  font-family: "poppins";
  width: 250px;
  height: 60px;
  border: solid;
  background-color: #21355793;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.requestButton:hover {
  background-color: white;
  color: #11223e;
}
.roleLabel {
  background-color: #11223e;
  margin-left: 10px;
  font-size: 24px;
  font-family: "poppins";
}
.selectList {
  font-size: 24px;
  font-family: "poppins";
  margin-right: 20px;
  border-color: white;
}
.yearLabel {
  background-color: #11223e;
  margin-right: 10px;
  font-size: 24px;
  font-family: "poppins";
}
.filterLabel {
  margin-right: 10px;
  font-size: 22px;
  font-family: "poppins";
  margin-left: 28px;
}
.filterSelect {
  font-size: 24px;
  font-family: "poppins";
  margin-right: 20px;
  border-color: white;
}
.filters {
  margin-right: 10px;
  font-size: 28px;
  font-family: "poppins";
  margin-left: 28px;
  font-weight: normal;
  margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .pageContent {
    display: grid;
    grid-template-columns: 100%;
  }
  .teams {
    width: 100vw;
  }
  .teams > button {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .teamInfo {
    background-color: #11223e;
    margin: 10px;
    padding-left: unse;
    height: max-content;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 0px;
    border-radius: 20px;
    width: 90vw;
    justify-content: space-evenly;
  }

  .requestButton {
    margin-left: 5vw;
    width: 75vw;
    height: 40px;
    border-radius: 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 540px) {
}

@media (max-width: 415px) {
}

@media (max-width: 380px) {
}

@media (max-width: 280px) {
  .requestButton {
    width: 60vw;
    height: 40px;
    font-size: 16px;
  }
  .teams > button {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .teams > button > div > h1 {
    font-size: 24px;
  }

  .teams > button > div > p {
    font-size: 16px;
  }

  .teams > button > div > ul {
    font-size: 16px;
  }
  .teams > button > div > ul > li {
    font-size: 16px;
  }
  .teamInfo > h1 {
    font-size: 24px;
  }
  .teamInfo > div > p {
    font-size: 16px;
  }
  .teamInfo > div > ul {
    font-size: 16px;
  }
  .teamInfo > div > ul > li {
    font-size: 16px;
  }
  .teamInfo > div > div > h2 {
    font-size: 16px;
  }
  .teamInfo > div > div > p {
    font-size: 16px;
  }
  .teamInfo > div > div {
    font-size: 16px;
  }
}
